{% extends 'base.html' %}

{% block title %}Add Store | {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col s12">
        <h3 class="page-title">Add New Store</h3>
    </div>
</div>

<div class="row">
    <div class="col s12 m8 l6 offset-m2 offset-l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Store Details</span>
                <form method="POST" action="{{ url_for('admin.add_store') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" name="name" type="text" class="validate" required>
                            <label for="name">Store Name</label>
                            <span class="helper-text">Required</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="location" name="location" type="text" class="validate">
                            <label for="location">Location</label>
                            <span class="helper-text">Optional</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12">
                            <button type="submit" class="btn waves-effect waves-light right" style="background-color: #2089ff;">
                                <i class="material-icons left">add</i> Create Store
                            </button>
                            <a href="{{ url_for('admin.stores') }}" class="btn-flat waves-effect left">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}